body {
    padding: 0;
    margin: 0;
}

.hero {
    position: relative;
    height: 90vh;
    overflow: hidden;
}

.hero video {
    position: absolute;
    min-height: 90%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    object-fit:fill;
    z-index: 1;
}
/* .fm  {
    position: absolute;
    min-height: 90%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    object-fit:fill;
    z-index: 1;
} */



.hero-info {
    height: 100%;
    position: relative;
    z-index: 2;
    color: white;
}

.nets {
    font-size: 30px;
}

/* .python, .html-css, .js {
    position: relative;
    height: 200px;
} */

.python video, .html-css video, .js video {
    aspect-ratio: 2.5 / 2;
    height: auto;
    max-width: 100%;
    display: block;
    
    /* width: 100%; */
    /* min-width: 100%;
    height: 100px; */
    
}
.python a, .html-css a, .js a{
    text-decoration: none;
}

.card-img img {
    height: 300px;
}

/* gradientes */
.bg-python {
    background: linear-gradient(135deg, #306998, #4B8BBE, #FFD43B);
}
.bg-js {
    background: linear-gradient(135deg, #0f0f0f, #1f1f1f, #f7df1e);
}
.bg-html-css {
    background: linear-gradient(135deg, #842512, #5e1134, #1fa2ff);
}